extends layout

block content
  style.
    #map {
      width: 100%;
      height: 500px;
    }

  h1 Maps
  p.lead Que faire sur Nancy?
  hr
  #map

  script.
    var parkings_voiture =!{JSON.stringify(parkings_voiture)};
    var parkings_velo =!{JSON.stringify(parkings_velo)};
    var event =!{JSON.stringify(event)};

    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
        center: { lat: 48.691475, lng: 6.177041 },
        zoom: 14
      });

      var markers = [];

      parkings_voiture.forEach(function (parking) {

            var marker = new google.maps.Marker({
                position: {lat: parking.coord.y, lng: parking.coord.x},
                map: map,
                title: parking.nom,
                icon: 'https://maps.google.com/mapfiles/kml/shapes/parking_lot_maps.png'
            });

            markers.push(marker);

            var complet = "";

            if(parking.complet == 'false'){
              complet = "Non";
            }else{
              complet = "Oui";
            }

            var places = "";
            if(parking.places == null){
              places = "Pas d'information";
            }else{
              places = parking.places;
            }
            var infowindow = new google.maps.InfoWindow({
                content: '<div>'
                + '<h5>' + 'Nom : ' + parking.nom + '</h5>'
                + '<h5>' + 'Adresse : ' + parking.adresse + '</h5>'
                + '<h5>' + 'Places libres : ' + places + '</h5>'
                + '<h5>' + 'Capacite : ' + parking.capacite + '</h5>'
                + '<h5>' + 'Complet : ' + complet + '</h5>'
                + '</div>'
            });

            marker.addListener('click', function(){
                infowindow.open(map, marker);
            });
        });

        parkings_velo.forEach(function (parking) {

            var icon = {
                path: 'M343.746,154.841c-12.696,0-24.804,2.558-35.842,7.18l-26.394-51.211h36.89c4.002,0,7.258,3.256,7.258,7.258 s-3.256,7.258-7.258,7.258h-7.871c-4.143,0-7.5,3.358-7.5,7.5s3.357,7.5,7.5,7.5h7.871c12.273,0,22.258-9.985,22.258-22.258 s-9.984-22.258-22.258-22.258h-49.192c-2.615,0-5.042,1.363-6.404,3.596c-1.361,2.233-1.461,5.015-0.263,7.34l13.125,25.467H167.423 l-10.92-21.403h17.269c4.143,0,7.5-3.358,7.5-7.5s-3.357-7.5-7.5-7.5h-49.193c-4.143,0-7.5,3.358-7.5,7.5s3.357,7.5,7.5,7.5h15.084 l14.576,28.568l-17.132,26.543c-13.113-7.065-28.101-11.08-44.011-11.08C41.763,154.841,0,196.603,0,247.936 c0,51.333,41.763,93.096,93.096,93.096c48.808,0,88.961-37.757,92.793-85.596h22.007l-8.549,27.818h-4.922 c-4.143,0-7.5,3.358-7.5,7.5s3.357,7.5,7.5,7.5h27c4.143,0,7.5-3.358,7.5-7.5s-3.357-7.5-7.5-7.5h-6.386l9.869-32.114l62.406-96.327 l7.269,14.103c-26.357,16.458-43.933,45.723-43.933,79.02c0,51.333,41.763,93.096,93.097,93.096 c51.333,0,93.096-41.763,93.096-93.096C436.842,196.603,395.079,154.841,343.746,154.841z M162.121,154.826l43.678,85.61h-19.911 c-2.162-26.985-15.882-50.758-36.193-66.359L162.121,154.826z M170.824,240.436h-63.96l34.661-53.699 C157.734,199.592,168.745,218.724,170.824,240.436z M93.096,326.032C50.033,326.032,15,290.999,15,247.936 c0-43.062,35.033-78.096,78.096-78.096c12.914,0,25.095,3.17,35.837,8.743l-42.139,65.285c-1.489,2.307-1.598,5.244-0.284,7.655 c1.313,2.411,3.84,3.912,6.586,3.912h77.728C167.036,294.992,133.628,326.032,93.096,326.032z M218.819,232.949l-43.743-85.737 h99.289L218.819,232.949z M343.746,326.032c-43.063,0-78.097-35.034-78.097-78.096c0-27.498,14.298-51.704,35.838-65.623 l35.592,69.059c1.332,2.583,3.954,4.065,6.673,4.065c1.157,0,2.331-0.269,3.43-0.835c3.683-1.897,5.129-6.42,3.231-10.103 l-35.603-69.079c8.956-3.586,18.714-5.581,28.936-5.581c43.063,0,78.096,35.034,78.096,78.096 C421.842,290.999,386.809,326.032,343.746,326.032z',
                fillColor: 'black',
                fillOpacity: 0.8,
                scale: 0.1,
                strokeColor: 'white',
                strokeWeight: 0.4
            };

            var marker = new google.maps.Marker({
                position: {lat: parking.coord.x, lng: parking.coord.y},
                map: map,
                title: parking.nom,
                icon: icon
            });

            markers.push(marker);

            let ouvert ='oui';
            if(parking.ouvert!=1){
              ouvert = "non";
            }
            var infowindow = new google.maps.InfoWindow({
                content: '<div>'
                + '<h5>' + 'Nom : ' + parking.nom + '</h5>'
                + '<h5>' + 'Adresse : ' + parking.adresse + '</h5>'
                + '<h5>' + 'Places libres : ' + parking.places_libres + '</h5>'
                + '<h5>' + 'Vélos disponibles : ' + parking.velos_disponibles + '</h5>'
                + '<h5>' + 'Ouvert : ' + ouvert + '</h5>'
                + '</div>'
            });

            marker.addListener('click', function(){
                infowindow.open(map, marker);
            });
        });

        event.forEach(function (event) {
            var sport = {
                path: 'M24.651,0l0.034,0.725c0.021,0.416-0.084,0.734-0.317,0.975c-0.314,0.322-0.824,0.484-1.252,.557 c0.016-0.371,0.031-0.745,0.043-1.132c-0.619,0-3.891,0-7.155,0c-0.003,0-0.005,0-0.008,0c-3.265,0-6.535,0-7.154,0 C8.854,1.512,8.87,1.886,8.886,2.257C8.457,2.184,7.948,2.021,7.633,1.699C7.398,1.459,7.293,1.14,7.314,0.724L7.349,0H3.558 l0.013,0.704c0.21,12.111,5.337,15.043,7.684,15.75l-0.385,0.547L12,17.798l0.386-0.551c0.772,1.438,1.445,2.356,1.732,3.09h-0.524 v1.097h0.64c-0.259,1.694-3.684,3.656-3.684,3.656v1.034H9.71V32h6.285h0.008h6.285v-5.876H21.45V25.09 c0,0-3.426-1.962-3.685-3.656h0.64v-1.097h-0.523c0.287-0.733,0.96-1.649,1.732-3.09l0.385,0.551l1.132-0.797l-0.386-0.547 c2.348-0.707,7.475-3.639,7.685-15.75L28.442,0H24.651z M4.971,1.383h1.011C6.077,1.88,6.302,2.317,6.648,2.67 C7.34,3.375,8.333,3.588,8.965,3.654c0.369,5.33,1.352,8.889,2.373,11.373C9.329,14.291,5.323,11.553,4.971,1.383z M20.661,15.027 c1.021-2.484,2.004-6.043,2.373-11.373c0.633-0.066,1.625-0.279,2.316-0.984c0.348-0.353,0.572-0.79,0.667-1.287h1.011 C26.678,11.553,22.671,14.291,20.661,15.027z',
                fillColor: 'black',
                fillOpacity: 1,
                scale: 1,
                strokeColor: 'white',
                strokeWeight: 0.4
            };

            var convention = {
                path: 'M500.922,193.257c-7.139-7.135-15.753-10.706-25.845-10.706h0.007V72.917c0-9.9-3.62-18.464-10.848-25.697 c-7.231-7.233-15.808-10.85-25.7-10.85c-87.745,73.089-173.018,109.636-255.815,109.636H45.682 c-12.562,0-23.318,4.471-32.264,13.418C4.471,168.373,0,179.129,0,191.688v54.816c0,12.563,4.464,23.319,13.412,32.264 c8.945,8.952,19.701,13.418,32.264,13.418h34.833c-3.235,10.284-5.33,20.804-6.28,31.549c-0.949,10.756-1.283,20.126-0.999,28.124 c0.284,7.994,1.714,17.604,4.283,28.835c2.568,11.229,4.759,19.698,6.567,25.406c1.807,5.715,4.853,14.705,9.135,26.98 c4.281,12.278,7.089,20.604,8.42,24.981c8.754,7.994,21.316,13.278,37.685,15.845c16.374,2.563,32.408,1.475,48.111-3.285 c15.702-4.757,26.314-12.662,31.833-23.695c-7.232-5.712-13.084-10.517-17.556-14.421c-4.474-3.901-9.041-8.654-13.706-14.271 c-4.665-5.612-7.849-10.849-9.563-15.701c-1.712-4.853-2.284-10.372-1.712-16.562c0.57-6.188,2.76-12.423,6.567-18.699 c-7.232-7.426-11.043-16.228-11.421-26.412c-0.378-10.178,2.572-19.746,8.852-28.691c6.279-8.945,14.943-15.229,25.981-18.843 c75.187,6.28,152.462,42.442,231.833,108.493c9.893,0,18.469-3.617,25.693-10.852c7.234-7.228,10.848-15.797,10.848-25.693V255.642 c10.096,0,18.709-3.567,25.845-10.706c7.132-7.139,10.704-15.752,10.704-25.837C511.626,209.01,508.054,200.396,500.922,193.257z M438.537,354.997c-74.426-56.907-147.51-89.366-219.267-97.356v-77.09c71.183-7.804,144.277-40.446,219.267-97.927V354.997z',
                fillColor: 'black',
                fillOpacity: 1,
                scale: 0.07,
                strokeColor: 'white',
                strokeWeight: 0.7
            };

            var concert = {
                path: 'M333.263,267.835c0,0-4.272-10.585-4.583-11.194c-0.304-0.585-29.22-57.419-21.469-99.372 c8.819,.996,12.93-2.035,14.553-4.618c8.091-12.853-19.076-34.811-36.428-45.748c-17.728-11.17-35.348-18.115-45.963-18.115 c-6.564,0-9.625,2.679-11.063,4.929c-3.192,5.096-1.134,12.041,6.092,20.675c-0.161,31.004,7.99,69.765,8.372,71.525 c0.119,.567,3.216,13.849,5.561,20.299l16.665,43.075l10.824,24.058c-1.098,2.488-3.747,7.16-8.461,7.16 c-1.408,0-2.96-0.346-4.672-1.062l-50.468-112.201l1.647-0.734c0.549-0.263,0.913-0.734,1.158-1.247l4.111,9.207l8.592-3.831 l-9.738-21.833l-8.61,3.849l4.111,9.189c-0.555-0.143-1.146-0.209-1.712,0.054l-1.647,0.758l-9.923-22.042l1.73-0.752 c0.549-0.263,0.913-0.746,1.164-1.247l4.111,9.189l8.61-3.855l-9.762-21.815l-8.592,3.849l4.099,9.207 c-0.549-0.155-1.134-0.203-1.712,0.048l-1.712,0.77l-9.607-21.367l1.796-0.794c0.549-0.269,0.913-0.734,1.152-1.241l4.111,9.183 l8.598-3.831l-9.738-21.809l-8.61,3.849l4.111,9.207c-0.549-0.161-1.14-0.221-1.695,0.048l-1.814,0.788l-9.821-21.785l1.862-0.841 c0.567-0.239,0.937-0.734,1.181-1.241l3.932,8.777l8.592-3.831l-9.744-21.839l-8.61,3.855l4.296,9.631 c-0.549-0.155-1.146-0.203-1.712,0.042l-1.856,0.835L141.058,9.105c-0.531-1.181-1.533-2.017-2.697-2.482 C135.712,4.589,128.73,0,119.792,0C109.374,0,94.57,6.295,83.167,36.32l-1.366,3.646C78.072,50.146,71.126,69.108,61.454,75.23 c-10.472,6.552-32.066,13.193-47.383,16.862c-1.408,0.34-2.596,1.253-3.264,2.518c-0.686,1.265-0.794,2.769-0.28,4.129 l0.632,1.695c0.734,1.999,2.613,3.318,4.726,3.318h0.036c10.006-0.101,41.72-2.053,55.939-9.69 c9.29-5.012,24.345-21.385,32.364-30.556l114.97,255.483c8.497,18.885,24.506,29.315,45.104,29.315 c10.472,0,21.612-2.637,33.122-7.793C332.576,324.657,346.282,296.732,333.263,267.835z M268.474,132.399 c-19.058-12.25-31.481-26.928-27.722-32.788c3.753-5.854,22.274-0.68,41.356,11.57c19.064,12.25,31.481,26.928,27.722,32.788 C306.06,149.822,287.55,144.637,268.474,132.399z',
                fillColor: 'black',
                fillOpacity: 1,
                scale: 0.1,
                strokeColor: 'white',
                strokeWeight: 0.4
            };

            var rencontre = {
                path: 'M455.677,373.988C471.77,360.222,482,339.789,482,317c0-24.484-11.796-46.262-30-59.959c0-0.013,0-0.027,0-0.041 c0-107.808-88.214-196-196-196c-26.897,0-52.662,4.87-76.006,14.248c0-0.083,0.006-0.165,0.006-0.248c0-41.355-33.645-75-75-75 S30,33.645,30,75c0,22.789,10.23,43.222,26.323,56.988C22.871,149.566,0,184.66,0,225v30c0,8.284,6.716,15,15,15h45.574 C68.229,370.513,152.94,451,256,451c16.774,0,33.014-1.789,48.158-5.232C302.744,452.627,302,459.728,302,467v30 c0,8.284,6.716,15,15,15h180c8.284,0,15-6.716,15-15v-30C512,426.66,489.129,391.566,455.677,373.988z M452,317 c0,24.813-20.187,45-45,45s-45-20.187-45-45s20.187-45,45-45S452,292.187,452,317z M105,30c24.813,0,45,20.187,45,45 s-20.187,45-45,45S60,99.813,60,75S80.187,30,105,30z M30,240v-15c0-41.355,33.645-75,75-75s75,33.645,75,75v15H30z M256,421 c-86.477,0-157.707-66.471-165.315-151H195c8.284,0,15-6.716,15-15v-30c0-40.34-22.871-75.434-56.323-93.012 c5.929-5.072,11.066-11.042,15.183-17.711C193.832,99.052,223.869,91,256,91c86.956,0,158.503,67.21,165.44,152.409 c-4.675-0.916-9.5-1.409-14.44-1.409c-41.355,0-75,33.645-75,75c0,22.789,10.23,43.222,26.323,56.988 c-16.034,8.425-29.636,20.873-39.454,35.996C300.638,417.197,279.017,421,256,421z M482,482H332v-15c0-41.355,33.645-75,75-75 c41.355,0,75,33.645,75,75V482z',
                fillColor: 'black',
                fillOpacity: 1,
                scale: 0.07,
                strokeColor: 'white',
                strokeWeight: 0.4
            };

            var geocoder = new google.maps.Geocoder;

                var address = event.adresse + ' Nancy 54000';

                geocoder.geocode( { 'address' : address }, function( results, status ) {
                    if( status == google.maps.GeocoderStatus.OK ) {
                        var icon;

                        switch(event.type){
                            case 'Rencontre':
                                icon = rencontre;
                                break;
                            case 'Concert':
                                icon = concert;
                                break;
                            case 'Sport':
                                icon = sport;
                                break;
                            case 'Convention':
                                icon = convention;
                                break;
                        }

                        var marker = new google.maps.Marker( {
                            map     : map,
                            position: results[0].geometry.location,
                            icon: icon
                        } );

                        marker.addListener('click', function(){
                            infowindow.open(map, marker);
                        });

                        markers.push(marker)
                    }
                } );

            var infowindow = new google.maps.InfoWindow({
                content: '<div>'
                + '<h5>' + 'Titre : ' + event.titre + '</h5>'
                + '<h5>' + 'Adresse : ' + event.adresse + '</h5>'
                + '<h5>' + 'Type : ' + event.type + '</h5>'
                + '</div>'
            });

            var markerCluster = new MarkerClusterer(map, markers,
            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
        });

    }

  script(src='https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js')
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDID5uSKinSpuwtZAWRcu5Fz6bMjj9yNXA&callback=initMap')
